/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Statistics
- Introduction
- Details 1
- Services
- Details 2
- Invitation
- Projects
- Testimonials
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f9fafe
- Headings text - black #191e47
- Body text - dark gray #6c717b
- Buttons, icons - blue #4555d2
- Buttons, icons, bullets - red #cc2973
******************************************/

:root {
  /* --primary: #4294E3;
  --secondary: #8F12FD; */
  --primary: #4555d2;
  --secondary: #cc2973;
  --light: #F0F6FF;
  --dark: #262B47;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}


ul li {
  list-style: none;
}
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.bg-primary {
  background-color: #4555d2!important;
}

.bg-light {
  background-color: #EEF9FF !important;
}

.top-shape::before {
position: absolute;
content: "";
width: 35px;
height: 100%;
top: 0;
left: -17px;
background: var(--primary);
transform: skew(40deg);
}

.border-button a {
  text-decoration: none;
  display: inline-block !important;
  padding: 10px 20px !important;
  color: #4b8ef1 !important;
  border: 1px solid #4b8ef1;
  text-transform: capitalize;
  font-size: 15px;
  display: inline-block;
  background-color: #fff;
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all .5s;
}

.border-button a:hover {
  background-color: #4b8ef1;
  color: #fff !important;
  text-decoration: none;
}

.img-fluid-about {
  max-width: 100%;
  height: auto;
}

.back-to-top {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  /* background-color: #000; */
  cursor: pointer;
}

.back-to-top2 {
  position: fixed;
  z-index: 99;
  bottom: 80px;
  right: 20px;
  display: none;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  /* background-color: #000; */
  cursor: pointer;
}

.function-img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.btn-solid-reg-function {
  display: inline-block;
  padding: 0.375rem 1.25rem 0.375rem 1.25rem;
  border: 1px solid #4555d2;
  border-radius: 30px;
  background-color: #4555d2;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #4555d2; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

/*** price ***/
.price1-carousel .owl-item .testimonial-item,
.price1-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.price1-carousel .owl-item.center .testimonial-item {
    background: var(--secondary);
}

.price1-carousel .owl-item.center .testimonial-item h5,
.price1-carousel .owl-item.center .testimonial-item p {
    color: #FFFFFF !important;
}

.price1-carousel .owl-nav {
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
}

.price1-carousel .owl-nav .owl-prev,
.price1-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 60px;
    font-size: 18px;
    transition: .5s;
    z-index: 99;
    border: 1px solid var(--primary);
}

.price1-carousel .owl-nav .owl-prev:hover,
.price1-carousel .owl-nav .owl-next:hover {
  background-color: transparent;
  color: #4555d2;
  text-decoration: none;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--secondary);
}

.testimonial-carousel .owl-item.center .testimonial-item h5,
.testimonial-carousel .owl-item.center .testimonial-item p {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 60px;
    font-size: 18px;
    transition: .5s;
    z-index: 99;
    border: 1px solid var(--primary);
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background-color: transparent;
  color: #4555d2;
  text-decoration: none;
}
/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 236px 0px 130px 0px;
  position: relative;
  overflow: hidden;
}

.main-banner:after {
  content: '';
  background-image: url(../images/baner-dec-left.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 100px;
  width: 267px;
  height: 532px;
}

.main-banner:before {
  content: '';
  background-image: url(../images/banner-right-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 100px;
  width: 819px;
  height: 674px;
}

.main-banner .item {
  margin-right: 45px;
}

.main-banner .item h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #ff695f;
  margin-bottom: 15px;
}

.main-banner .item h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 72px;
}

.main-banner .item h2 em {
  color: #03a4ed;
  font-style: normal;
}

.main-banner .item h2 span {
  color: #ff695f;
}

.main-banner .item p {
  margin: 20px 0px;
}

.main-banner .item .down-buttons {
  display: inline-flex;
}

.main-banner .item .down-buttons .call-button i {
  margin-right: 5px;
  width: 46px;
  height: 46px;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  background: rgb(255,104,95);
  background: linear-gradient(105deg, rgba(255,104,95,1) 0%, rgba(255,144,104,1) 100%);
  color: #fff;
  font-size: 20px;
}


.owl-banner .owl-dots {
  position: absolute;
  left: 45%;
  bottom: -30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.owl-banner  div.owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border-radius: 15px;
  transition: .5s;
}

.owl-banner  div.owl-dot::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 5px;
  left: 5px;
  background: #FFFFFF;
  border-radius: 5px;
}

.owl-banner  div.owl-dot.active {
  box-shadow: 0 0 10px var(--dark);
}

/* function */
.simple-cta  .item {
  border-radius: 3px;
  text-align: center;
  padding: 10px 6px;
  margin: 3px;
  transition: all .3s;
}

.simple-cta  .item:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
}

.simple-cta  .item .icon {
  max-width: 120px;
  margin: 0 auto;
  min-height: 80px;
  line-height: 80px;
  vertical-align: middle;
  border: solid 5px #f4bca3;
}

.simple-cta  .item h4 {
  color: #000;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 800;
}

.simple-cta .owl-dots {
  text-align: center;
  margin-top: 6px;
}

.simple-cta  .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0px 4px;
}

.simple-cta  .owl-dots .active {
  background-color: #dc8cdb;
}
/* share*/
.offer_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
  border-radius: 5px;
  padding: 20px 15px;
  background-color: #4555d2;
  color: #ffffff;
}

.offer_section .box .img-box {
  width: 85px;
  min-width: 85px;
  height:85px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.1 0.5s;
  transition: all 0.1 0.5s;
  border-radius: 100%;
  border: 5px solid #cc2973;
  overflow: hidden;
}
.offer_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 45px;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: #4555d2;
    color: #ffffff;
}
.offer_section .box .detail-box h6 {
  font-family: 'Dancing Script', cursive;
  margin: 10px 0;
  color: #fff;
}
.offer_section .box .detail-box h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin: 0;
  color: #fff;
}
.offer_section .box .detail-box a svg {
  width: 20px;
  height: auto;
  margin-left: 5px;
  fill: #ffffff;
}
.offer_section .box .detail-box h6 span {
  font-size: 2.5rem;
  font-weight: bold;
}
.offer_section .box .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #cc2973;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}
@media (max-width: 767px) {
.offer_section .box {
    flex-direction: row;
    text-align: left;
}
.offer_section .box .img-box {
  margin-right: 15px;
  margin-bottom: 0;
}
.offer_section .box {
  flex-direction: row;
  text-align: left;
}
}
@media (max-width: 992px) {
.offer_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.offer_section .box .img-box {
  margin-right: 0;
  margin-bottom: 15px;
}
.offer_section .box {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
}
/* 
/* 分页*/
/* .templates a:hover {
  cursor: pointer;
} */
#pagination {
  text-align: center;
}
.templates ul {
  font-family: 'Allerta Stencil', sans-serif;
	display: inline-flex;
	position: relative;
}
.templates ul li{
  color: #fff;
	background: transparent;
	font-size: 21px;
	line-height: 35px;
	height: 38px;
	width: 38px;
	padding: 0;
	margin: 0 8px;
	border: none;
	position: relative;
	z-index: 1;
	transition: all 0.4s ease 0s;
}
.templates ul li.active a,  .templates ul li a:hover,  .templates ul li.active a:hover {
	color: #fff;
	background-color: transparent;
}

.templates ul li a:before,    .templates ul li a:after {
	content: '';
	background: linear-gradient(225deg,#f857a6,#ff5858);
	height: 100%;
	width: 100%;
	border: 3px solid #fff;
	box-shadow: 0 0 3px #000;
	border-radius: 50%;
	opacity: 1;
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transition: all 0.3s ease-in;
}

.templates ul li a:hover:before,    .templates ul li.active a:before {
	border-radius: 50% 0 50% 50%;
}

.templates ul li a:after {
	background: #fff;
	height: 5px;
	width: 5px;
	border: none;
	box-shadow: 0 0 0 transparent;
	opacity: 0;
	transform: translateX(-50%) translateY(0) rotate(0);
	top: auto;
	bottom: 0;
}

.templates ul li a:hover:after,    .templates ul li.active a:after {
	opacity: 1;
	bottom: 85%;
}

.templates ul li:first-child a:before {
	transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

.templates ul li:first-child a:hover:before {
	border-radius: 50% 0 50% 50%;
}

.templates ul li:first-child a:after {
	transform: translateX(0) translateY(-50%);
	top: 50%;
	bottom: auto;
	/* left: auto;
	right: 0; */
  left: 0;
  right: auto;
}

.templates ul li:first-child a:hover:after {
	right: 80%;
}

.templates ul li:last-child a:before {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.templates ul li:last-child a:hover:before {
	border-radius: 50% 0 50% 50%;
}

.templates ul li:last-child a:after {
	transform: translateX(0) translateY(-50%);
	bottom: auto;
	top: 50%;
	left: 0;
}

.templates ul li:last-child a:hover:after {
	left: 80%;
}

@media only screen and (max-width: 480px) {
	.templates ul {
		display: block;
	}

	.templates ul li {
		margin-bottom: 10px;
		display: inline-block;
	}
}


.color-size {
  margin-bottom: 10px;
  margin-top: 20px;
}

.colorful {
  max-width: 40px;
}

.colorful.active {
  border: 2px solid #ed5566;
  padding: 2px;
  border-radius: 0;
}

.colorful:hover {
  border: 2px solid #ed5566;
  padding: 2px;
  border-radius: 0;
}

.iframe-center {
  text-align: center;
  padding-top: 25px;
}
.img-fluid {
  width: 20vh;
  height: 30vh; 
  /* border:2px solid #ed5566; */
}

.img-fluid-template {
  width: 100%;
  height: auto; 
}

.img-fluid-template:hover {
  transform: scale(1);
}

.template-button {
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid #cc2973;
  border-radius: 30px;
  background-color: transparent;
  color: #cc2973;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s; margin-bottom: 20px;
}

.template-button:hover {
	background-color: #cc2973;
	color: #ffffff;
	text-decoration: none;
}


.template-title {
  padding: 10px 0 10px 0;
  color: #4555d2;
}

.iframe-center:hover {
  border-color: #4555d2;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0px 14px rgb(0 0 0 / 16%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 77;
}

.iframe-center:hover .shadow {
  box-shadow: 0rem 0rem rgba(0,0,0,.15)!important;
}

.view {
  position: absolute;
  margin-top: -50px;
  margin-left: 25%;
  z-index: 9999;
  width: 40%;
  height: 32px;
  background-color: #998cdc;
  text-align: center;
  line-height: 32px;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer; 
  display: none;  
}

.iframe-center:hover > .view {
  display: block;
}

/* team */
/* .service-item img,
.service-item .bg-light,
.service-item .bg-light h5,
.team-item .team-text {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.15);
}

.team-item .team-text::after,
.service-item .bg-light::after {
    position: absolute;
    content: "";
    top: 50%;
    bottom: 0;
    left: 15px;
    right: 15px;
    border-radius:100px / 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.team-item:hover .team-text::after,
.service-item:hover .bg-light::after {
    opacity: 1;
} */
/* 
---------------------------------------------
The Clients
---------------------------------------------
*/

.pricing-tables {
  padding-top: 130px;
}

.pricing-tables  .section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.pricing-tables  .section-heading p {
  margin-top: 10px;
  margin-left: 18%;
  margin-right: 18%;
}

.pricing-item-regular {
  margin-top: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
  border-radius: 50px;
  padding: 90px 30px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.pricing-item-regular:before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/regular-table-top.png);
  z-index: 0;
  content: '';
  width: 274px;
  height: 221px;
}

.pricing-item-regular:after {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/regular-table-bottom.png);
  z-index: 0;
  content: '';
  width: 370px;
  height: 171px;
}

.pricing-item-regular span.price {
  font-size: 40px;
  color: #fff;
  position: absolute;
  font-weight: 700;
  z-index: 1;
  left: 30px;
  top: 30px;
}

.pricing-item-regular h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.pricing-item-regular .icon img {
  width: 120px;
  height: 106px;
  margin-bottom: 30px;
  display: inline;
}

.pricing-item-regular ul li {
  color: #4b8ef1;
  font-size: 15px;
  margin-bottom: 15px;
}

.pricing-item-regular ul li:last-child {
  margin-bottom: 0px;
}

.pricing-item-regular ul li.non-function {
  color: #afafaf;
  text-decoration: line-through;
}

.pricing-item-regular .border-button {
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

.pricing-item-pro {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
  border-radius: 50px;
  padding: 120px 30px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.pricing-item-pro:before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/pro-table-top.png);
  z-index: 0;
  content: '';
  width: 281px;
  height: 251px;
}

.pricing-item-pro:after {
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/pro-table-bottom.png);
  z-index: 0;
  content: '';
  width: 100%;
  height: 201px;
}

.pricing-item-pro span.price {
  font-size: 40px;
  color: #fff;
  position: absolute;
  font-weight: 700;
  z-index: 1;
  left: 30px;
  top: 30px;
}

.pricing-item-pro h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.pricing-item-pro .icon img {
  width: 120px;
  height: 106px;
  margin-bottom: 30px;
  display: inline;
}

.pricing-item-pro ul li {
  color: #4b8ef1;
  font-size: 15px;
  margin-bottom: 15px;
}

.pricing-item-pro ul li:last-child {
  margin-bottom: 0px;
}

.pricing-item-pro ul li.non-function {
  color: #afafaf;
  text-decoration: line-through;
}

.pricing-item-pro .border-button {
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

.price-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 45px);
  height: 45px;
  top: calc(50% - 22.5px);
  left: -22.5px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
}

.price-carousel:hover .owl-nav {
  opacity: 1;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  border-radius: 2px;
  font-size: 22px;
  transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #6c717b; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #191e47;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #191e47;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.2px;
}

h3 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
}

h5 {
	color: #191e47;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: #191e47;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #6c717b;
	text-decoration: underline;
}

a:hover {
	color: #6c717b;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #4555d2;
}

.bg-gray {
	background-color: #f9fafe;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #4555d2;
	border-radius: 30px;
	background-color: #4555d2;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #4555d2; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #4555d2;
	border-radius: 30px;
	background-color: #4555d2;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #4555d2; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #cc2973;
	border-radius: 30px;
	background-color: transparent;
	color: #cc2973;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #cc2973;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 0.625rem 1.625rem 0.625rem 1.625rem;
	border: 1px solid #cc2973;
	border-radius: 30px;
	background-color: transparent;
	color: #cc2973;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #cc2973;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 0.2rem 0.8rem 0.2rem 0.8rem;
	border: 1px solid #cc2973;
	border-radius: 30px;
	background-color: transparent;
	color: #cc2973;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
  line-height: 2rem;
}

.btn-outline-sm:hover {
	background-color: #cc2973;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
	width: 100%;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 30px;
	background-color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
	display: block;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #4555d2;
	border-radius: 30px;
	background-color: #4555d2;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #4555d2;
	background-color: transparent;
	color: #4555d2;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 150px;
	height: 32px;
}

.navbar .logo-text {
	color: #191e47;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
  z-index: 99;
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #191e47;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #4555d2;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #191e47;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #4555d2;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #efefef;
}
/* end of dropdown menu */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	position: relative;
	overflow: hidden;
	padding-top: 4rem;
	padding-bottom: 4em;
	background-color: #ffffff;
	text-align: center;
}

.header .decoration-star {
	position: absolute;
	top: 80px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.header .decoration-star-2 {
	position: absolute;
	top: 80px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.header div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.header .h1-large {
	margin-bottom: 1.75rem;
	font-size: 2.7rem;
	line-height: 3.5rem;
}

.header .p-large {
	margin-bottom: 2.25rem;
}

.header .btn-solid-lg,
.header .btn-outline-lg {
	margin-right: 0.25rem;
	margin-bottom: 1.25rem;
	margin-left: 0.25rem;
}

.header .image-container {
	margin-top: 5rem;
}


/*** Screenshot ***/
.screenshot-carousel {
  position: relative;
  width: 253px;
  height: 500px;
  padding: 15px;
  margin-right: 30px;
}

.screenshot-carousel::before {
  position: absolute;
  background: url(../images/screenshot-frame.png) center center no-repeat;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 253px 500px;
  z-index: 3;
}

.screenshot-carousel .owl-item img {
  position: relative;
  width: 253px;
  height: 470px;
}

.screenshot-carousel .owl-dots {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screenshot-carousel  div.owl-dot {
  position: relative;
  display: inline-block;
  margin: 5px 0;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border-radius: 15px;
  transition: .5s;
}

.screenshot-carousel  div.owl-dot::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 5px;
  left: 5px;
  background: #FFFFFF;
  border-radius: 5px;
}

.screenshot-carousel  div.owl-dot.active {
  box-shadow: 0 0 10px var(--dark);
}

/**********************/
/*     Statistics     */
/**********************/
.counter {
	padding-top: 4.5rem;
	padding-bottom: 5.5rem;
	text-align: center;
}

.counter .counter-cell {
	margin-bottom: 4rem;
}

.counter .purecounter {
	margin-bottom: 1.5rem;
	color: #191e47;
	font-weight: 400;
	font-size: 4rem;
	line-height: 2rem;
}

.counter .counter-info {
	color: #6d717a;
	font-size: 0.875rem;
	line-height: 1.5rem;
}


/************************/
/*     Introduction     */
/************************/
.basic-1 {
	padding-top: 9.25rem;
	padding-bottom: 8.75rem;
}

.basic-1 h2 {
	margin-bottom: 1.75rem;
}


/*********************/
/*     Details 1     */
/*********************/
.basic-2 {
	position: relative;
	padding-top: 9.5rem;
	padding-bottom: 9.5rem;
}

.basic-2 .decoration-star {
	position: absolute;
	top: 530px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.basic-2 div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.basic-2 .image-container {
	margin-bottom: 5rem;
}

.basic-2 h2 {
	margin-bottom: 1.875rem;
}

.basic-2 .list-unstyled {
	margin-bottom: 2rem;
}

.basic-2 .list-unstyled  .fas {
	color: #cc2973;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.basic-2 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}


/********************/
/*     Services     */
/********************/
.cards-1 {
	padding-top: 9.5rem;
	padding-bottom: 5.5rem;
}

.cards-1 h2 {
	margin-bottom: 1.75rem;
}

.cards-1 .text-container {
	margin-bottom: 5rem;
}

.cards-1 .list-unstyled {
	margin-top: 1.5rem;
}

.cards-1 .list-unstyled .fas {
	color: #cc2973;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.cards-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.cards-1 .card-container {
	text-align: center;
}

.cards-1 .card {
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 3.75rem;
	margin-left: 1.5rem;
	width: 150px;
	border: none;
	background-color: transparent;
	text-align: center;
	vertical-align: top;
}

.cards-1 .card-icon {
	width: 90px;
	height: 90px;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
}

.cards-1 .card-icon .far,
.cards-1 .card-icon .fas {
	margin-left: 2rem;
	color: #cc2973;
	font-size: 3.75rem;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	font-weight: 600;
}


/*********************/
/*     Details 2     */
/*********************/
.basic-3 {
	position: relative;
	overflow: hidden;
	padding-top: 9.5rem;
	padding-bottom: 9.75rem;
}

.basic-3 .decoration-star {
	position: absolute;
	top: 500px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.basic-3 div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.basic-3 .text-container {
	margin-bottom: 5rem;
}

.basic-3 h2 {
	margin-bottom: 1.875rem;
}

.basic-3 p {
	margin-bottom: 2rem;
}


/**********************/
/*     Invitation     */
/**********************/
.basic-4 {
	padding-top: 9.25rem;
	padding-bottom: 9.75rem;
	text-align: center;
}

.basic-4 h4 {
	margin-bottom: 2rem;
}


/********************/
/*     Projects     */
/********************/
.cards-2 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
	text-align: center;
  font-family: 'Trirong', serif;
}

.cards-2 .card {
	max-width: 350px;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	border: none;
}

.cards-2 .card img {
	margin-bottom: 2rem;
	border-radius: 10px;
}

.cards-2 .card-body {
	padding: 0;
}

/* pricing */
.pricing-table {
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
  padding: 50px 0;
  /* margin-bottom: 80px; */
}
.pricing-table .title {
  margin-bottom: 30px;
}
.pricing-table .price {
  margin-bottom: 30px;
}
.pricing-table .title h5 {
  text-transform: uppercase;
  font-size: 20px;
    font-weight: 700;
}
.pricing-table .price p {
  font-size: 36px;
  font-weight: bold;
  color: #7d71d3;
}
.pricing-table.featured .price p {
  color: #d03a7e;
}

.pricing-table.featured em {
  color: #d03a7e;
  font-size: 15px;
  display: block;
  margin-top: 5px;
  padding-bottom: 10px;
  text-decoration: line-through;
  font-style: normal;
}

.pricing-table em {
  color: #7d71d3;
  font-size: 15px;
  display: block;
  margin-top: 5px;
  padding-bottom: 10px;
  text-decoration: line-through;
  font-style: normal;
}

.pricing-table .action-button {
  margin-top: 40px;
}

.pricing-table ul li {
  color: #4b8ef1;
  font-size: 15px;
  margin-bottom: 15px;
}

.pricing-table ul li:last-child {
  margin-bottom: 0px;
}

.pricing-table ul li.non-function {
  color: #afafaf;
  text-decoration: line-through;
}

.pricing-table ul li .different {
  color: #d03a7e !important;
}

/************************/
/*     Testimonials     */
/************************/
.slider-1 {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.slider-1 .quotes-decoration {
	position: absolute;
	top: 0;
	left: 15px;
	width: 120px;
	opacity: 0.2;
}

.slider-1 .slider-container {
	position: relative;
}

/* .slider-1 .swiper-container {
	position: static;
	width: 86%;
	text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}
 */
.slider-1 .testimonial-image {
  width: 120px;
  height: 120px;
  margin-bottom: 2.25rem;
  border-radius: 50%;
}

.all_slide {
  padding: 20px;
  width: 100%;
  height:calc(100vh);
  margin: 0 auto;
  position: relative;
} 
.swiper-container {
  width: 89%;
  height: 100%;
  display: flex;
} 
.cont {
  width: 80%;
  margin: 0 auto;
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
} */

.swiper {
  width: 88%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 40px) / 2);
  /* max-height: 800px; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}



/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.slider-1 .testimonial-text {
	margin-bottom: 1.75rem;
	font-size: 1.25rem;
	line-height: 2rem;
}

.slider-1 .testimonial-author {
	margin-bottom: 1.25rem;
	color: #2b2b4f;
}


/*******************/
/*     Contact     */
/*******************/
.form-1 {
	position: relative;
	overflow: hidden;
	padding-top: 9.5rem;
	padding-bottom: 8.75rem;
	text-align: center;
}

.form-1 .decoration-star {
	position: absolute;
	top: 600px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.form-1 .decoration-star-2 {
	position: absolute;
	top: 600px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.form-1 div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.form-1 .image-container {
	margin-bottom: 5rem;
}

.form-1 h2 {
	margin-bottom: 2.5rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 6.5rem;
	padding-bottom: 2rem;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #6c717b;
	opacity: 0.9;
}

.footer p,
.footer a,
.footer ul {
	opacity: 0.9;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
	color: #4555d2;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
	color: #4555d2;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	text-align: center;
	opacity: 0.9;
}

.copyright p,
.copyright a {
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #44434a; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #1d1d21;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
}

.ex-basic-1 .list-unstyled .fas {
	color: #cc2973;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f9fafe;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #cc2973;
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 1rem;
		padding-bottom: 3em;
	}

	.header .decoration-star {
		top: 100px;
		left: -150px;
		width: 300px;
	}
	
	.header .decoration-star-2 {
		top: 140px;
		right: -200px;
		width: 400px;
	}
	/* end of header */


	/* Statistics */
	.counter .counter-cell {
		display: inline-block;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		vertical-align: top;
	}
	/* end of statistics */


	/* Services */
	.cards-1 .card {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of services */


	/* Contact */
	.form-1 .decoration-star {
		left: -150px;
		width: 300px;
	}
	
	.form-1 .decoration-star-2 {
		right: -200px;
		width: 400px;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
    font-family: 'Trirong', serif;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: #ffffff;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-outline-sm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		text-align: left;
	}

	.header .text-container {
		margin-top: 4rem;
	}

	.header .image-container {
		margin-top: 0;
	}

	.header .btn-solid-lg,
	.header .btn-outline-lg {
		margin-right: 0;
		margin-left: 0;
	}
	
	.header .btn-solid-lg {
		margin-right: 0.5rem;
	}
	/* end of header */


	/* Statistics */
	.counter .purecounter {
		font-size: 6rem;
		line-height: 4rem;
	}
	/* end of statistics */


	/* Introduction */
	.basic-1 h2 {
		width: 90%;
	}
	/* end of introduction */


	/* Details 1 */
	.basic-2 .decoration-star {
		top: 260px;
		left: -150px;
		width: 300px;
	}

	.basic-2 .image-container {
		margin-bottom: 0;
	}
	/* end of details 1 */


	/* Services */
	.cards-1 .text-container {
		margin-bottom: 0;
	}
	/* end of services */


	/* Details 2 */
	.basic-3 .decoration-star {
		top: 260px;
		right: -150px;
		width: 300px;
	}

	.basic-3 .image-container {
		text-align: right;
	}
	/* end of details 2 */


	/* Invitation */
	.basic-4 h4 {
		width: 48rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of invitation */


	/* Projects */
	.cards-2 .card {
		display: inline-block;
		width: 292px;
		max-width: 100%;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of projects */


	/* Contact */
	.form-1 {
		text-align: left;
	}

	.form-1 .decoration-star {
		top: 260px;
	}
	
	.form-1 .decoration-star-2 {
		top: 240px;
	}

	.form-1 .image-container {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Header */
	.header {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}

	.header .decoration-star {
		top: 200px;
		left: -200px;
		width: 500px;
	}
	
	.header .decoration-star-2 {
		top: 150px;
		right: -200px;
		width: 600px;
	}

	.header .h1-large {
		font-size: 4.25rem;
		line-height: 4.875rem;
	}

	.header .image-container {
		text-align: right;
	}
	/* end of header */


	/* Statistics */
	.counter .counter-cell {
		margin-right: 3.5rem;
		margin-left: 3.5rem;
		width: 180px;
	}
	
	.counter .counter-cell:first-of-type {
		margin-left: 0;
	}

	.counter .counter-cell:last-of-type {
		margin-right: 0;
	}

	.counter .purecounter {
		font-size: 6.75rem;
		line-height: 4.5rem;
	}
	/* end of statistics */


	/* Details 1 */
	.basic-2 .decoration-star {
		top: 140px;
		left: -200px;
		width: 500px;
	}

	.basic-2 .text-container {
		margin-top: 5rem;
		margin-left: 2.5rem;
	}

	.basic-2 h2 {
		width: 90%;
	}
	/* end of details 1 */


	/* Services */
	.cards-1 .text-container {
		margin-top: 2rem;
		margin-right: 4.75rem;
	}

	.cards-1 .card {
		margin-right: 2.25rem;
		margin-left: 2.25rem;
	}

	.cards-1 .card:nth-of-type(3n+1) {
		margin-left: 0;
	}
	
	.cards-1 .card:nth-of-type(3n+3) {
		margin-right: 0;
	}
	/* end of services */


	/* Details 2 */
	.basic-3 .decoration-star {
		top: 140px;
		right: -200px;
		width: 500px;
	}

	.basic-3 .text-container {
		margin-top: 6rem;
		margin-right: 3rem;
	}

	.basic-3 h2 {
		width: 95%;
	}
	/* end of details 2 */


	/* Projects */
	.cards-2 .card {
		width: 350px;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.625rem;
		margin-left: 1.625rem;
	}
	/* end of projects */


	/* Testimonials */
	.slider-1 .quotes-decoration {
		left: 170px;
		width: 220px;
	}

	.slider-1 .slider-container {
		width: 82%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of testimonials */


	/* Contact */
	.form-1 .decoration-star {
		top: 140px;
		left: -300px;
		width: 600px;
	}
	
	.form-1 .decoration-star-2 {
		top: 140px;
		right: -300px;
		width: 600px;
	}

	.form-1 .text-container {
		margin-left: 2.5rem;
	}

	.form-1 h2 {
		width: 82%;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */


/* Min-width 1400px */
@media (min-width: 1400px) {
	
	/* Header */
	/*.header .decoration-star {
		top: 120px;
		left: -250px;
		width: 600px;
	}
	
	.header .decoration-star-2 {
		top: 60px;
		right: -300px;
		width: 700px;
	}*/
	/* end of header */
	
}
/* end of min-width 1400px */

