/********** Template CSS **********/
:root {
    /* --primary: #4294E3;
    --secondary: #8F12FD; */
    --primary: #f2b7a8;
    --secondary: #dc8ddb;
    --light: #F0F6FF;
    --dark: #262B47;
}

a:hover {
  color: #dc8ddb;
}

.bg-menu {
  background: linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%) !important;
}

.btn-secondary {
  color: #fff;
  background-color: #dc8ddb;
  border-color: #dc8ddb;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

/*** Spinner ***/
.text-primary {
  --bs-text-opacity: 1;
  --bs-primary-rgb:242,183,168;
  color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Gradient Text & BG ***/
.text-primary-gradient {
  background: linear-gradient(to bottom right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-secondary-gradient {
  background: linear-gradient(to bottom right, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary-gradient {
  background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.bg-secondary-gradient {
  background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}


/*** Button ***/
.btn {
  transition: .5s;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient {
  position: relative;
  overflow: hidden;
  border: none;
  color: #FFFFFF;
  z-index: 1;
}

.btn.btn-primary-gradient::after,
.btn.btn-secondary-gradient::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: -1;
  opacity: 0;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient::after {
  background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.btn.btn-secondary-gradient,
.btn.btn-primary-gradient::after {
  background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}

.btn.btn-primary-gradient:hover::after,
.btn.btn-secondary-gradient:hover::after {
  opacity: 1;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-check:focus+.btn, .btn:focus {
outline: 0;
box-shadow: 0 0 0 0.25rem rgb(220 141 219 / 25%);
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    border: none;
    /* background: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
    background: #fff;
}

.back-to-top2 {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 110px;
  z-index: 99;
  border: none;
  /* background: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
  background: #fff;
}
/* .back-to-top.active:hover {
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
} */

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 45px 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    top: 0;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        /* background: #FFFFFF; */
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--primary) !important;
    }

    .navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
      background-image: url(../images/header-bg.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size:100% 100%;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        /* background: #FFFFFF; */
        background: linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%) !important;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        /* border-top-color: var(--primary); */
        border-top-color: #fff;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/*** Hero Header ***/
.hero-header {
    margin-bottom: 6rem;
    padding: 16rem 0 0 0;
    background:
        url(../img/bg-circle.png),
        url(../img/bg-triangle.png),
        url(../img/bg-bottom.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position:
        left 0px top 0px,
        right 0px top 50%,
        center bottom;
    background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }
}


/*** Feature ***/
.feature-item {
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.iframe-center {
  text-align: center;
}
.img-fluid {
  width: 20vh;
  height: 30vh; 
  border:2px solid #f4bba3;
}

.iframe-center:hover {
  padding: 10px;
  border-color: #dc8cdb;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0px 14px rgb(0 0 0 / 16%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 77;
}

.view {
  position: absolute;
  margin-top: -50px;
  margin-left: 1%;
  z-index: 9999;
  width: 100px;
  height: 32px;
  background-color: #dc8cdb;
  text-align: center;
  line-height: 32px;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer; 
  display: none;  
}

.iframe-center:hover > .view {
  display: block;
}

.more {
  padding: 15px 30px;
  text-align: center;
  border-radius: 5px !important;
  margin-bottom: 40px;
  font-size: 20px;
  color: #f4bba3;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 900;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 3px solid rgba(219,138,222,0.5);
}

.more:hover {
  color: #dc8cdb;
  border: 3px solid rgba(219,138,222,1);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
}

/*** Pricing ***/
.pricing .nav {
    padding: 2px;
}

.pricing .nav-link {
    padding: 12px 30px;
    font-weight: 500;
    color: var(--dark);
    background: #FFFFFF;
}

.pricing .nav-item:first-child .nav-link {
    border-radius: 30px 0 0 30px;
}

.pricing .nav-item:last-child .nav-link {
    border-radius: 0 30px 30px 0;
}

.pricing .nav-link.active {
    color: #FFFFFF;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}


/*** Screenshot ***/
.screenshot-carousel {
    position: relative;
    width: 253px;
    height: 500px;
    padding: 15px;
    margin-right: 30px;
}

.screenshot-carousel::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/screenshot-frame.png) center center no-repeat;
    background-size: 253px 500px;
    z-index: 3;
}

.screenshot-carousel .owl-item img {
    position: relative;
    width: 223px;
    height: 470px;
}

.screenshot-carousel .owl-dots {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshot-carousel  button.owl-dot {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 15px;
    height: 15px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 15px;
    transition: .5s;
}

.screenshot-carousel  button.owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}

.screenshot-carousel  button.owl-dot.active {
    box-shadow: 0 0 10px var(--dark);
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.testimonial-carousel .owl-item.center .testimonial-item h5,
.testimonial-carousel .owl-item.center .testimonial-item p {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary)) !important;
    border-radius: 60px !important;
    font-size: 18px;
    transition: .5s;
    z-index: 99;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary)) !important;
}


/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background:
        url(../img/bg-circle.png),
        url(../img/bg-triangle.png),
        url(../img/bg-top.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position:
        left 0px bottom 0px,
        right 0px top 50%,
        center top;
    background-repeat: no-repeat;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


#Discount{
  border: 1px solid var(--secondary);
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
#Discount>div{
  float: left;

}
#Discount>#left{
  background-color: var(--secondary);
  width: 40%;
  height: 50px;
  color: white;
  font-weight: 900;
}
#Discount>#right{
  width: 40%;
  height: 50px;
  color: gainsboro;
}
#division{
  width: 0px;
  height: 0px;
  border-width: 50px 25px 0px 0px;
  border-style: solid;
  border-color:	var(--secondary) transparent transparent transparent; 
}



.pagination-outer { text-align: center; } 
.pagination { font-family: 'Oxygen', sans-serif; display: inline-flex; position: relative; } 
.pagination li a.page-link { color: #e44251; background-color: transparent; font-size: 25px; font-weight: 700; letter-spacing: 1px; text-transform: uppercase; line-height: 30px; height: 45px; width: 45px; margin: 0 15px 0 0; border: 1px solid #e44251; border-radius: 0; position: relative; z-index: 1; transition: all 0.4s ease 0s; } 
.pagination li.active a.page-link, .pagination li a.page-link:hover, .pagination li.active a.page-link:hover { color: #fff; background-color: #e44251; border-color: #e44251; } 
.pagination li a.page-link:before, .pagination li a.page-link:after { content: ''; background-color: #e44251; height: 100%; width: 100%; border-radius: 50%; transform: scale(0) rotateX(360deg); position: absolute; left: 0; top: 0; z-index: -1; transition: all 0.3s; } 
.pagination li a.page-link:after { background-color: transparent; border-radius: 0; transform: scale(0.7); transition-delay: 0.1s; } 
.pagination li a.page-link:hover:before { border-radius: 0; transform: scale(1) rotateX(0); } 
.pagination li a.page-link:hover:after { background-color: #e44251; opacity: 0; transform: scale(1.5); }
 @media only screen and (max-width: 480px) { .pagination { display: block; border-radius: 20px; } .pagination li { margin: 5px 2px; display: inline-block; } 
 .pagination li a.page-link { margin: 0; } }